/*
THEME: Interipr Ecommerce  Template
GITHUB: https://github.com/jahid-sourav/interior-ecommerce.git
WEBSITE: https://interior-ecommerce.netlify.app
*/
/*  typography Starts Here*/
/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"); */
/* body {
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #ae00ff;
  -webkit-font-smoothing: antialiased;
} */

/* p,
.paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  color: #ae00ff;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #ae00ff;
  line-height: 1.2;
} */

/* h1,
.h1 {
  font-size: 52px;
} */

/* h2,
.h2 {
  font-size: 42px;
} */

/* h3,
.h3 {
  font-size: 32px;
} */

/* h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
} */

/*  typography Ends Here*/
/* * {
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
} */

/* body {
  background-color: #FFFFFF;
  overflow-x: hidden;
} */

/* ::-moz-selection {
  background: #e93698;
  color: #FFFFFF;
}

::selection {
  background: #e93698;
  color: #FFFFFF;
} */

/* ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
} */

/* a:focus,
button:focus,
select:focus {
  outline: 0;
} */

.job-intro {
  padding: 10px;
  display: flex;
  /* border: 1px solid rgba(221, 221, 221, 0.6); */
}

.job-intro:hover {
  background-color: #fafafa;
}

.job-intro-image img {
  height: 120px;
  width: 120px ;
  -o-object-fit: cover;
     object-fit: cover;
     margin-right: 16px;
     
}

.job-intro-text h5 {
  color: #333;
  font-size: 18px;
  line-height: 26px;
  margin-bottom:0;
  
}

.job-intro-text h5::after{
  display: none !important;
}



.job-intro-text p {
  color: #808080;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0 !important;
  margin-top: 6px !important;
}

.apply-title {
  color: rgba(51, 51, 51, 0.9);
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.post-title {
  font-size: 20px;
  line-height: 28px;
  color: #808080;
}

.custom-input {
  border: 0;
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  color: #808080;
}

.custom-file input {
  display: none;
}

.custom-file label {
  padding: 8px;
  border: 1px solid rgba(221, 221, 221, 0.6);
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.slick-dots li button {
  background-color: transparent;
  border-radius: 50% !important;
}

.slick-dots li button::before {
  color: #808080;
  font-size: 60px;
}

.slick-dots {
  bottom: -40px;
  margin-bottom: 40px !important;
}

.slider-item img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
     margin-bottom: 20px !important;
}
/*# sourceMappingURL=style.css.map */